# Usage:
# 1. Copy this file as `.env` into your project
# 2. Adapt the information below with the your personal data.
#
# The file `.env` is ignored by git. Note: DO NOT COMMIT your personal data.

# namespace for longhorn
export NAMESPACE=longhorn-system